/vendor/
/.env
/storage/logs/*.log
!/storage/logs/.gitkeep
/storage/sessions/*
!/storage/sessions/.gitkeep
/storage/uploads/*
!/storage/uploads/.gitkeep
/storage/backups/*
!/storage/backups/.gitkeep
/coverage/
.DS_Store
.idea/
.vscode/
